/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.form-container {
  padding: 5% 15% 0 15%;
}

.form-element {
  margin-top: 20px;
  width: 100%;
}

.submitButton {
    float: right;
    margin-top: 40%;
}

.fillRemainingSpace {
    flex: 1 1 auto;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 25px;
}
